name: Foodgram CI/CD

on:
  push:
    branches: [ "main" ]

jobs:

  build:
    name: Build backend & frontend images
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build backend image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/foodgram-backend:latest \
            ./backend/foodgram

      - name: Build frontend image
        run: |
          docker build \
            -t ${{ secrets.DOCKERHUB_USERNAME }}/foodgram-frontend:latest \
            ./frontend

      - name: Push images
        run: |
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/foodgram-backend:latest
          docker push ${{ secrets.DOCKERHUB_USERNAME }}/foodgram-frontend:latest


  deploy:
    name: Deploy to VM
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Connect to Tailscale
        uses: tailscale/github-action@v2
        with:
          oauth-client-id: ${{ secrets.TAILSCALE_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TAILSCALE_OAUTH_CLIENT_SECRET }}
          tags: tag:ci

      - name: Setup SSH private key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa

      - name: Deploy via SSH over Tailscale
        run: |
          ssh -o StrictHostKeyChecking=no \
          -p 22 \
          burnn1kvm@ubuntuhost \
          "cd ~/foodgram-st/infra && docker compose pull && docker compose up -d --remove-orphans"



